{% import 'macro/macros.html.twig' as wcpc %}


<table class="table table-sm table-striped wcpc2k18-table">
    <thead>
        <tr>
            <td>#</td>
            <td>Date</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>Pronostics</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>Admin.</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td class="game-id"><a href="{{ path('ecpc_game', { 'gameId' : game.id } ) }}">Match {{ game.id }}</a><br><span class="subheader">{{ game.phase }}</span></td>
            <td class="game-date"><i class="far fa-clock"></i> {{ game.kickoff | date('d/m H:i') }}</td>
            <td class="text-end">{{ game.homeTeam.name }}<img class="ms-3" src="{{ asset(game.homeTeam | flag(32) ) }}" /></td>
            <td class="text-center"><a href="{{ path('ecpc_game', {'gameId' : game.id}) }}">{{ wcpc.gameResult(game) }}</a></td>
            <td class=""><img class="me-3 d-none d-lg-inline" src="{{ asset(game.awayTeam | flag(32) ) }}"/>{{ game.awayTeam.name }}</td>
            <td>
                {% if predictionChecker.canPredict(game) %}
                    {{ wcpc.predictionButton(game, userPredictions) }}
                    <div class="time-left subheader"><i class="fas fa-clock"></i> Clôture dans {{ predictionChecker.timeLeftForPrediction(game) | timeLeft }}</div>
                {% else %}
                    {{ wcpc.predictionBadge(game, userPredictions, predictionChecker) }}
                {% endif %}
            </td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    {% if predictionChecker.canFillGameResult(game) %}
                        <a href="{{ path('ecpc_form_game', {'gameId' : game.id, 'source' : app.request.uri } ) }}"><button class="btn btn-sm btn-secondary"><i class="fas fa-pencil-alt"></i></button></a>
                    {% endif %}
                </td>

            {% endif %}
                
        </tr>
        {% endfor %}
    </tbody>
</table>
