<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('ecpc_home') }}">ECPC2K21</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('ecpc_users') }}">Participants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('ecpc_games') }}">Rencontres</a>
        </li>
      </ul>
      <form class="d-flex">
        <a href="{{ path('app_logout') }}"><button class="btn btn-outline-warning" type="button">Déconnexion</button></a>
      </form>
    </div>
  </div>
</nav>

{#
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('ecpc_home') }}">ECPC2K21</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{{ path('ecpc2k18_games') }}">Rencontres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ecpc2k18_users') }}">Participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ecpc2k18_crews') }}">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ecpc2k18_leaderboard') }}">Classements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('ecpc2k18_rules') }}">Règlement</a>
      </li>
    </ul>

    <form class="form-inline">
        <a href="{{ path('app_logout') }}"><button class="btn btn-outline-warning" type="button">Déconnexion</button></a>
    </form>
    
  </div>

</nav>      #}